<div class='alignform'>
  <h1>LogIn</h1>

  <form action='/login' method='POST'>
    <label> Email</label>
    <input type='email' name='email' required />

    <label> Password:</label>
    <input type='password' name='password' required />

    <button type='submit'> Login </button>
  </form>
</div>
{{#if errorMessage}}
  <div style='color: red'>{{errorMessage}}</div>
{{/if}}