<h1>Sign Up</h1>

<form action='/signup' method='POST'>
  <label> Username</label>
  <input type='text' name='username' required />

  <label> Email</label>
  <input type='email' name='email' required />

  <label> Password</label>
  <input type='password' name='password' />

  <button type='submit'> Create User</button>
</form>

{{#if errorMessage}}
  <div style='color: red'>{{errorMessage}}</div>
{{/if}}