<div class='accordion accordion-flush' id='accordionFlushExample'>
  <div class='accordion-item accordioncolor'>
    <h2 class='accordion-header'>
      <button
        class='accordion-button collapsed accordioncolorfront'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#flush-collapseOne'
        aria-expanded='false'
        aria-controls='flush-collapseOne'
      >
        <strong> Missão</strong>
      </button>
    </h2>
    <div
      id='flush-collapseOne'
      class='accordion-collapse collapse'
      data-bs-parent='#accordionFlushExample'
    >
      <div class='accordion-body'><p>A academia de karaté Shukokai Dojo Samurai
          - Artes Marciais, iniciou a sua actividade em 2004 pela mão do Sensei
          Dinamérico Fernandes, o qual tem conseguido levar a escola a patamares
          de destaque em todas as competições onde intervém, desde campeonatos
          nacionais, europeus e mundiais de karaté Shukokai e campeonatos
          inter-estilos. Desde 1998 que o Sensei Dinamérico faz parte do corpo
          técnico da Selecção Nacional de karaté Shukokai, a qual, alcançou em
          2010 o melhor resultado de sempre no Campeonato do Mundo de Karaté
          Shukokai em Lisboa, tendo Portugal conquistado 10 medalhas de ouro, 11
          de Prata e 17 de Bronze. A missão da academia Dojo Samurai - Artes
          Marciais é formar crianças e adultos física e mentalmente sãos,
          capazes de dar o seu melhor através dos ensinamentos das artes
          marciais tendo como valores principais a lealdade, companheirismo e
          espírito vencedor, tornando-os assim cidadãos válidos da nossa
          sociedade. A academia de karaté Shukokai Dojo Samurai- Artes Marciais
          iniciou a sua actividade em Janeiro de 2004 pela mão do Sensei
          Dinamérico o qual tem conseguido levar a academia a patamares de
          destaque em todas as competições onde intervém, desde campeonatos
          nacionais de karaté Shukokai, campeonatos inter-estilos e campeonatos
          europeus e mundiais. Por diversas vezes os alunos conquistaram
          prémios, tornando-se campeões quer a nível individual quer a nível
          colectivo, levando o nome da academia ao mais alto nível nacional e
          internacional. A academia Dojo Samurai - Artes Marciais não ambiciona
          ser mais um espaço de ensino do karaté Shukokai, somos uma referência
          na formação de crianças e jovens e cada vez mais é esse o nosso
          objectivo, queremos formar pessoas utilizando como veículo o karaté.
          Apoiar as crianças no seu desenvolvimento físico e psicológico,
          incutindo-lhe valores e referências que no futuro farão parte do seu
          mundo.</p></div>
    </div>
  </div>
  <div class='accordion-item accordioncolor'>
    <h2 class='accordion-header'>
      <button
        class='accordion-button collapsed accordioncolorfront'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#flush-collapseTwo'
        aria-expanded='false'
        aria-controls='flush-collapseTwo'
      >
        <strong> Shukokai</strong>
      </button>
    </h2>
    <div
      id='flush-collapseTwo'
      class='accordion-collapse collapse'
      data-bs-parent='#accordionFlushExample'
    >
      <div class='accordion-body'><p>O Shukokai foi fundado pelo Mestre Chojiro
          Tani em 1952, após a 2º Guerra Mundial. Tem a sua origem no ShitoRyu,
          e a Inglaterra foi a porta de entrada para a Europa em 1963. Para
          chegarmos às origens do Karate Shukokai devemos recuar sessenta anos
          no tempo e situarmo-nos na cidade de Kobe, Japão. O Sensei Chojiro
          Tani foi discípulo do Sensei Kenwa Mabuni no estilo por este fundado,
          o Shito Ryu. Depois fundou a sua escola à qual deu o nome de Shukokai,
          que significa "uma via para todos". Com técnicas e movimentos muito
          idênticos ao karaté tradicional, onde se destaca a sua rapidez, o
          Shukokai tem como objectivo a aplicação no oponente com a máxima
          eficácia. Shito-Ryu combina o poder e a força do estilo de naha-te com
          a velocidade e a elegância do estilo de shuri-te. Dos seus próprios
          alunos cedo se notabilizou o sensei Shigeru Kimura, que se radicou no
          ocidente(New Jersey – EUA) donde, ocupando o cargo de instrutor chefe
          mundial do Kimura Shukokai Internacional (K.S.I.), desenvolveu e
          divulgou a técnica do Shukokai de forma a aliar ao seu tradicional
          pendor atacante maior velocidade, mobilidade e impacto. Em portugal
          Sensei MarceloO Shukokai em Portugal, está representada pela
          Associação Portuguesa de Karaté Shukokai (APKS), sob a orientação do
          Sensei Marcelo Azevedo (7.º Dan). Em Portugal, a prática do karate só
          se pôde expandir após o 25 de Abril de 1974. Cinco anos volvidos, foi
          constituída a Associação Portuguesa de Karate Shukokai (APKS).
          Impulsionada pelo sensei Marcelo Azevedo, antigo aluno do sensei
          Shigeru Kimura em Moçambique, a A.P.K.S. faz parte da Federação
          Nacional de Karate de Portugal e tem registado um crescimento digno de
          nota ao longo dos anos. Com efeito, a APKS., organizou o seu primeiro
          mundial de Shukokai no Porto, logo em 1983. Em 1993, organizou outro
          em Coimbra, onde Ricardo Teixeira se viria a sagrar o primeiro
          português campeão mundial da modalidade, com apenas 20 anos de idade.
          Actualmente, cerca de 1000 karatekas praticam o estilo Shukokai em 40
          dojos espalhados pelo continente e região autónoma da Madeira. É de
          referir a extrema importancia do contributo dado pelo sensei Elmano
          Caleiro (7.º Dan Hayashi Ha Kai) durante a década de 70 para o
          desenvolvimento deste estilo em Portugal. Sem ele nada teria sido o
          mesmo. A APKS preparou a edição de 2010 do KSI Karate World
          Championships, em Lisboa. Pela primeira vez, o Karate aparece
          associado (a esta escala), a um conjunto de manifestações culturais,
          com parceria com entidades como a Faculdade de Belas Artes da
          Universidade de Lisboa, ao promover a edição da "Semana da Ásia |
          Miscigenações", com edição de concursos de Artes Plásticas sobre o
          tema do Karate, workshops sob aspectos da cultura oriental (gravura
          japonesa, pintura, bonsai, etc.) e de um ciclo de conferências sobre o
          tema.</p></div>
    </div>
  </div>
  <div class='accordion-item accordioncolor'>
    <h2 class='accordion-header'>
      <button
        class='accordion-button collapsed accordioncolorfront'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#flush-collapseThree'
        aria-expanded='false'
        aria-controls='flush-collapseThree'
      >
        <strong> Benefícios</strong>
      </button>
    </h2>
    <div
      id='flush-collapseThree'
      class='accordion-collapse collapse'
      data-bs-parent='#accordionFlushExample'
    >
      <div class='accordion-body'><p>Disciplina Treinar para melhorar a força e
          auto-controle. Incutir disciplina através um rigoroso regime de
          treino. Apreensão das normas básicas está na base do sucesso. Ter
          controlo sobre as nossas emoções desenvolvendo o auto-controlo.
          Sabe-se que a inteligência emocional (IE) é tão importante quanto o
          quociente de inteligência (QI). Enquanto o QI é inerente, IE pode ser
          desenvolvida sobretudo nas fases iniciais da infância Auto-estima
          Construir sentimentos de auto-estima e orgulho. Incutir auto-estima
          elogiando os alunos por cada pequena melhoria, não importa quão
          pequena possa ser. A forma de enfrentarmos as adversidades do
          dia-a-dia e vencê-las pode ser conseguida através de uma avaliação
          positiva de si mesmo. Forma Física e Flexibilidade Uma pessoa que se
          encontre fisicamente apta e flexível terá uma quantidade abundante de
          energia e vitalidade. O nosso programa é fisicamente exigente desde os
          iniciantes aos alunos mais avançados. Confiança Acredite em si mesmo e
          nas suas próprias capacidades. Os alunos aprendem os golpes básicos,
          os blocos, a auto-defesa, e uma série de movimentos. Com todas as
          técnicas aprendidas a confiança atinge níveis bastante elevados.
          Perseverança Persistente determinação significa nunca desistir. Um dia
          todos nós vamos falhar. A questão é saber o que fazer depois de
          falharmos. O objectivo final do karate não reside na vitória nem
          derrota, mas na perfeição do carácter dos seus atletas. Definir e
          Atingir Objectivos Definir objectivos com um prazo temporal. Todos
          sabemos que devemos ter metas, mas quantos de nós têm tempo para
          realmente defini-las? Infelizmente, apenas uma pequena minoria
          estabelece e escreve suas metas. Na Academia de karaté Shukokai Dojo
          Samurai - Artes Marciais os alunos definem metas pessoais e
          profissionais e definem medidas para alcançá-las.</p>
      </div>
    </div>
  </div>
</div>