<div class='container text-center background'>
  <div class='row'>
    <div class='col'>
      <div class='card' style='width: 18rem;'>
        <img src='/images/dino.jpg' class='card-img-top' alt='...' />
        <div class='card-body'>
          <h5 class='card-title'>MESTRE DINAMÉRICO FERNANDES</h5>
          <p class='card-text'><h5>Graduação Cinturão preto - 7.º Dan</h5>

            Treinador Grau 2 – Certificado pela Federação Nacional de Karaté e
            IPDJ.

          </p>
        </div>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>Inicio da prática de karate Shukokai em
            1974 com o Sensei Elmano Caleiro.</li>
          <li class='list-group-item'>2016 - Treinador da Seleção Nacional de
            Karaté Shukokai desde 1998</li>
          <li class='list-group-item'>2010 - Selecionador Nacional de Karaté
            Shukokai das categorias de Iniciados a Cadetes para o Campeonato do
            Mundo.</li>
          <li class='list-group-item'>2001 - Campeão Europeu no Campeonato
            Europeu, categoria individual +35 anos.</li>
          <li class='list-group-item'>2002 - 3º lugar no Campeonato do Mundo,
            categoria individual +35 anos.</li>
          <li class='list-group-item'>1993 - Campeão Nacional de Kumite por
            equipas representando a escola da Rinchoa liderada pelo Sensei
            Joaquim Costa.</li>
          <li class='list-group-item'>1992 - Campeão Nacional de Kumite por
            equipas representando a escola da Rinchoa liderada pelo Sensei
            Joaquim Costa.</li>
          <li class='list-group-item'>1976 - Integrou a Seleção Nacional de
            Karaté Shukokai na 1ª Competição Nacional realizada em Portugal no
            Algarve.</li>
        </ul>
      </div>
    </div>
    <div class='col'>
      <div class='card' style='width: 18rem;'>
        <img src='/images/nuno.jpg' class='card-img-top' alt='...' />
        <div class='card-body'>
          <h5 class='card-title'>INSTRUTOR NUNO DIAS</h5>
          <p class='card-text'><h5>Graduação Cinturão preto - 5.º Dan</h5>Treinador
            Grau 1 – Certificado pela Federação Nacional de Karaté e IPDJ.</p>
        </div>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>Inicio da prática de karate Shukokai em
            1990.
          </li>
          <li class='list-group-item'>Atleta de alto rendimento nível A</li>
          <li class='list-group-item'>
            Há 18 anos a representar a Seleção Nacional
          </li>
          <li class='list-group-item'>16 vezes Campeão Nacional nas várias
            categorias (-70kg, -75kg,+80kg,+ 84kg e Open).
          </li>
          <li class='list-group-item'>Várias vezes campeão do Mundo de Karaté
            Shukokai. Várias vezes chegou ao pódio em competições
            Internacionais.</li>
        </ul>
      </div>
    </div>
    <div class='col'>
      <div class='card' style='width: 18rem;'>
        <img src='/images/jaime.jpg' class='card-img-top' alt='...' />
        <div class='card-body'>
          <h5 class='card-title'>INSTRUTOR JAIME TORRES</h5>
          <p class='card-text'><h5>Graduação Cinturão preto - 4.º Dan</h5>Treinador
            Grau 1 – Certificado pela Federação Nacional de Karaté e IPDJ.</p>
        </div>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>Inicio da prática de karate Shukokai em
            1990.
          </li>
          <li class='list-group-item'>Atleta de alto rendimento nível A</li>
          <li class='list-group-item'>
            Há 18 anos a representar a Seleção Nacional
          </li>
          <li class='list-group-item'>16 vezes Campeão Nacional nas várias
            categorias (-70kg, -75kg,+80kg,+ 84kg e Open).
          </li>
          <li class='list-group-item'>Várias vezes campeão do Mundo de Karaté
            Shukokai. Várias vezes chegou ao pódio em competições
            Internacionais.</li>
        </ul>
      </div>
    </div>
  </div>
</div>